
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    </head>
    <body>
        <div id="second">123</div>
        <img id="image" width="600px">
        <button onclick="runCam()">start camera</button>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
        <script src="client.js"></script>
    </body>
</html>