<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/_js/webcam.min.js"></script>
</head>
<body>
    <button id="startCamBtn">Start Camera</button>
    <div id="cameraDiv"></div>

    <button id="okButton">Send Image</button>
    <hr>
    <div>
        <img id="displayImg" src="" alt="">
        <p id="displayText"></p>
    </div>
    <script src="/_js/webcamPage.js"></script>
</body>
</html>